<ul class="apps">
	<li>
		<a target="_blank" href="https://chrome.google.com/webstore/detail/refined-github/godiecgffnchndlihlpaajjcplehddca">
			<img src="https://raw.githubusercontent.com/alrra/browser-logos/90fdf03c/src/chrome/chrome.svg" width="48" height="48" alt="Chrome" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/ghosttext/">
			<img src="https://raw.githubusercontent.com/alrra/browser-logos/90fdf03c/src/firefox/firefox.svg" width="48" height="48" alt="Firefox" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://apps.apple.com/app/ghosttext/id1552641506">
			<img src="https://raw.githubusercontent.com/alrra/browser-logos/90fdf03c/src/safari/safari_128x128.png" width="48" height="48" alt="Safari" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://chrome.google.com/webstore/detail/refined-github/godiecgffnchndlihlpaajjcplehddca">
			<img src="https://raw.githubusercontent.com/alrra/browser-logos/90fdf03c/src/edge/edge.svg" width="48" height="48" alt="Edge" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://chrome.google.com/webstore/detail/refined-github/godiecgffnchndlihlpaajjcplehddca">
			<img src="https://raw.githubusercontent.com/alrra/browser-logos/90fdf03c/src/opera/opera.svg" width="48" height="48" alt="Opera" />
		</a>
	</li>
</ul>
