<ul class="apps">
	<li>
		<a target="_blank" href="https://sublime.wbond.net/packages/GhostText">
			<img src="/icons/sublime-text.svg" alt="Sublime Text" width="48" height="48" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=tokoph.ghosttext">
			<img src="/icons/vscode.svg" alt="VS Code" width="48" height="48" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://github.com/GhostText/GhostText-for-Atom">
			<img src="/icons/atom.svg" alt="Atom" width="48" height="48" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://melpa.org/#/atomic-chrome">
			<img src="/icons/emacs.svg" alt="Emacs" width="48" height="48" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://github.com/raghur/vim-ghost">
			<img src="/icons/vim.svg" alt="Vim" width="48" height="48" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://github.com/subnut/nvim-ghost.nvim">
			<img src="/icons/neovim.svg" alt="Neovim" width="48" height="48" />
		</a>
	</li>
	<li>
		<a target="_blank" href="https://github.com/fhs/Ghost">
			<img src="/icons/acme.png" alt="Acme" width="48" height="48" />
		</a>
	</li>
</ul>
