<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="https://raw.githubusercontent.com/fregante/GhostText/main/promo/demo-screen.png" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<!-- https://css-tricks.com/the-fastest-google-fonts/ -->
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap" as="style" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap"
			media="print"
			onload="this.media='all'"
		/>
		<link rel="stylesheet" href="/style.css" />
		<title>{{ page.title }}</title>
	</head>
	<body data-style="{{ page.style }}">
		<h1>
			<a href="/">
				<img src="https://raw.githubusercontent.com/fregante/GhostText/main/promo/gt_banner.png" alt="GhostText" width="936" height="266" />
				<span hidden>•</span>
				Use your text editor
				<span class="d-inline-block">in the browser</span>
			</a>
		</h1>
		<main>{{ content }}</main>

		<footer class="fregante">
			<p>
				GhostText is a project of Federico Brigante<br />
				<a href="https://twitter.com/fregante">Twitter</a> • <a href="https://github.com/sponsors/fregante">Sponsor</a> •
				<a href="https://github.com/fregante">GitHub</a> •
				<a href="mailto:me@fregante.com">Email</a>
			</p>
		</footer>

		<footer>
			<p>{{ page.footer }} <a href="https://github.com/fregante/ghosttext.fregante.com/blob/main/{{ page.path }}">Edit this page on GitHub</a></p>
		</footer>

		{% include github-corner.html %}
	</body>
</html>
